.p-splitter-gutter {
    background-color: white !important;
    z-index: 1; 
    position: relative;
}

.splitter-img {
    width: auto;
    height: 70%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.p-splitter-panel {
    overflow: hidden;
}

.p-splitter-panel:first-child {
    clip-path: inset(0 0 0 var(--gutter-width));
}

.p-splitter-panel:last-child {
    clip-path: inset(0 var(--gutter-width) 0 0);
}

.p-splitter {
    height: 100vh !important;
    position: relative;
    --gutter-width: 2px;
}
